.one{
    color: blueviolet;
    background-color: aquamarine;
}


.className{
    color: brown;
    background-color: bisque;
    border: 2px;
}

.className1{
    color:azure;
    background-color: blueviolet;
}